.container{
    text-align: center;
    margin: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 4px solid black;
    border-radius: 8px;
}

button{
    font-size: 37px;
    background: greenyellow;
    width: 103px;
    height: 55px;
    border-radius: 20px
}
.calculator{
    border: 4px solid rgb(119, 240, 119);
    display: inline-block;
    background-color: #ffa502;
    padding: 20px;
    border-radius: 53px;

}